APP_NAME=skeleton
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

PG_DB_DRIVER=pgsql
PG_DB_HOST=localhost
PG_DB_DATABASE=hyperf
PG_DB_PORT=5432
PG_DB_USERNAME=postgres
PG_DB_PASSWORD=
PG_DB_CHARSET=utf8

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0